<!DOCTYPE html>
<html>
<head>
    <link rel ="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <link rel ="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <title>Django Girls Blog</title>
</head>
<body>
    <div>
        <h1> <a href=""> Django Girls Blog</a> </h1>
    </div>

    <div>
        <p>published 13.07.2015</p>
        <h2> <a href=""> First Girls Blog</a> </h2>
        <p> A life without passion is no life to live</p>
    </div>

    <div>
        <p>published 13.07.2015</p>
        <h2> <a href=""> Second Blog</a> </h2>
        <p> A life without passion is no love to live</p>
    </div>


<p></p>
</body>
</html>